body {
    background-color: #fffaeb;
}

hr {
    background-color: #c2b49d;
    height: 1px;
    border: none;
}

#home h1 {
    color: black;
    font-family: cursive;
    font-size: 32px;
}

#home h2 {
    color: black;
    font-size: 24px;
    font-family: cursive;
}

.home-categories {
    display: flex;
    gap: 16px;
}

.home-categories button {
    width: 140px;
    height: 110px;
    background-color: #f0e5d3;
    color: black;
    border: none;
    border-radius: 28px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: cursive;
}

.home-special-container {
  display: flex;
  gap: 16px;
}

.home-grub-item {
    display: flex;
    color: white;
    width: 400px;
    height: 100px;
    background-color: #d36062;  /* bubble color */
    padding: 10px 20px;
    border-radius: 25px;        /* rounded edges */
    font-family: cursive;
}

.home-grub-item button {
    color: #d36062;
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: white;
    position: relative;
    bottom: -70px;
    right: -310px;
}
